{% include 'base.html' %} 
{% comment %} {% include 'contact.html' %}  {% endcomment %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- About Section -->
    <section id="about">
        <h2 class="shadow p-3 mb-2 bg-body rounded">About Me</h2>
        <p>Write a brief introduction about yourself, your skills, and your experience.</p>
    </section>

        <script src="" async defer></script>
    </body>
</html>