{% include 'base.html' %} 


{% load bootstrap4 %}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resume</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  
</head>
<body>

<div class="container-fluid">
  
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file for styling -->
</head>
<body class="p-3 text-primary-emphasis bg-secondary-subtle border border-primary-subtle rounded-3">
{%block content%}



{%endblock%}
    <!-- Header -->
   

    <!-- Hero Section -->
    <section id="hero">
        <h1 >Welcome to My Portfolio</h1>
        <p>Highlight your skills and showcase your work</p>
    </section>

<!-- Footer -->
    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

</body>
</html>

</div>

</body>
</html>
