{% include 'base.html' %} 

<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <!-- Portfolio Section -->
    <section id="portfolio">
        <h2 >Portfolio</h2>
        <div class="portfolio-item">
           
            <h3>Project Title</h3>
            <p>Description of the project</p>
            <a href="#">View Project</a>
        </div>
        <!-- Add more portfolio items as needed -->
    </section>

        
        <script src="" async defer></script>
    </body>
</html>